@model web_da544B.Models.Notification

@{
	ViewBag.Title = "GetVerification";
}

<h2>GetVerification</h2>

<div class="jumbotron text-xs-center">
	<h1 class="display-3">Thank You!</h1>
	<p class="lead"><strong>Please refresh this page to get our payment verified message!</strong> Once you get notified about confirmation remember your order Id for further query.</p>
	<hr>
	<p>
		Having trouble? <a href="">Contact us</a>
	</p>
	<p class="lead">
		<a class="btn btn-primary btn-sm" href="ShowOrder.cshtml" role="button">Continue to homepage</a>
	</p>
</div>


@if (@ViewBag.notify != null)
{
	<input type="text" onload="myFunction()" src="@ViewBag.notify" value="@ViewBag.notify" id="success" />

	//<p id="success"></p>

}



<script>
	//$(function() {
	//document.getElementById("success").innerHTML = "Iframe is loaded.";

	//$('#success').load(function () {
	function myFunction() {
		toastr.success(@ViewBag.notify);
	}
	//}

	//});
	//});

</script>