@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Lab 4 Welcome to HKR EBook Store</h1>
	<p class="lead"> Course: Software Development for Web (DA544B)</p>
	<p class="lead">Examiner: Dawit Mengistu</p>
	<p class="lead">Student: Safwath Tasnia Priyanka (910112-2449)</p>
	<p class="lead">
		<strong>Please login/sign up to view all the available books from our site and continue shopping.</strong>
	</p>

	<hr>
</div>

<div class="container">
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img src="https://s26.postimg.org/hgk3su2xl/Enchantment-_Book-_Cover-_Best-_Seller1.jpg" height="100" width="100">
			<div class="caption">
				<h4>Title: Book 1</h4>
				<p>Author: Dr. RA RI</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, suscipit</p>
				<p>Price: 200 SEK</p>
				<p>ISBNNo: FGFK#22</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img src="https://s26.postimg.org/6jis42g61/download_1.jpg" height="100" width="100">

			<div class="caption">
				<h4>Book 2</h4>
				<p>Author: Dr. RA RI</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, suscipit</p>
				<p>Price: 200 SEK</p>
				<p>ISBNNo: FGFK#22</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img src="https://s26.postimg.org/i7ctym5ax/A_Fish_Out_Of_Water_book_cover_art.jpg" height="100" width="100">
			<div class="caption">
				<h4>Book 3</h4>
				<p>Author: Dr. ARA RI</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, suscipit</p>
				<p>Price: 220 SEK</p>
				<p>ISBNNo: FGFK#22</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img src="https://s26.postimg.org/6jis42g61/download_1.jpg" height="100" width="100">

			<div class="caption">
				<h4>Book 4</h4>
				<p>Author: Dr. BRA RI</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, suscipit</p>
				<p>Price: 450 SEK</p>
				<p>ISBNNo: FGFK#22</p>
			</div>
		</div>
	</div>
</div>